<%- include('../Partials/Header') %>
    <div class="d-flex align-items-center justify-content-center vh-80">
        <div class="col-4">
            <form action="/upload" method="POST" class="border p-3  rounded bg-white shadow-lg"
                onsubmit="return validateForm(this)" enctype="multipart/form-data">
                <h3 class="text-secondary text-center mb-3">Create New Movie</h3>

                <div class="col-12 mt-2">
                    <div class="d-flex justify-content-between">
                        <label for="" class="text-secondary">Movie Title :</label>
                        <p class="text-danger m-0" id="nameError"></p>
                    </div>
                    <input type="text" name="title" class="form-control" placeholder="Enter Movie Title">
                </div>
                <div class="col-12 mt-2">
                    <div class="d-flex justify-content-between">
                        <label for="" class="text-secondary">Movie description :</label>
                        <p class="text-danger m-0" id="descError"></p>
                    </div>
                    <input type="text" name="description" class="form-control" placeholder="Enter Movie description">
                </div>
                <div class="d-flex align-items-center gap-2 mt-2">
                    <div class="col-4">
                        <div class="d-flex justify-content-between">
                            <label for="" class="text-secondary">Year :</label>
                            <p class="text-danger m-0" id="yearError"></p>
                        </div>
                        <input type="number" name="year" class="form-control" placeholder="Released Year">
                    </div>
                    <div class="col-4">
                        <div class="d-flex">
                            <label for="dropdown" class="text-secondary me-3">Genre :</label>
                            <p class="text-danger m-0 ms-4" id="genreError"></p>
                        </div>
                        <select id="dropdown" class="form-control" name="genre">
                            <option value="--Select Genre--" selected>--Select Genre--</option>
                            <option value="Action">Action</option>
                            <option value="Adventure">Adventure</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Drama">Drama</option>
                            <option value="Horror">Horror</option>
                            <option value="Fantasy">Fantasy</option>
                            <option value="Thriller">Thriller</option>
                            <option value="Mystery">Mystery</option>
                            <option value="Sci-Fi">Sci-Fi</option>
                            <option value="Romance">Romance</option>
                            <option value="Animation">Animation</option>
                            <option value="Musical">Musical</option>
                            <option value="Historical">Historical</option>
                            <option value="Documentary">Documentary</option>
                        </select>
                    </div>
                    <div class="col-4 pe-3">
                        <div class="d-flex">
                            <label for="dropdown" class="text-secondary me-3">Rating :</label>
                            <p class="text-danger m-0 ms-4" id="ratingError"></p>
                        </div>
                        <select id="dropdown" class="form-control" name="rating">
                            <option value="--Rating--" selected>--Rating--</option>
                            <option value="0.5">0.5</option>
                            <option value="1">1</option>
                            <option value="1.5">1.5</option>
                            <option value="2">2</option>
                            <option value="2.5">2.5</option>
                            <option value="3">3</option>
                            <option value="3.5">3.5</option>
                            <option value="4">4</option>
                            <option value="4.5">4.5</option>
                            <option value="5">5</option>
                        </select>
                    </div>


                </div>
                <div class="col-12 mt-3">
                    <div class="d-flex justify-content-between">
                        <label for="dropdown" class="text-secondary me-3">Movie Poster :</label>
                        <p class="text-danger m-0 ms-4" id="picError"></p>
                    </div>
                    <input type="file" name="file" class="form-control">
                </div>

                <div class="text-center mt-2">
                    <button class="btn btn-outline-dark mt-2 text-center">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <%- include('../Partials/Footer') %>
        <script>
            const validateForm = (e) => {
                let isValid = true;
                const nameError = document.getElementById("nameError");
                const descError = document.getElementById("descError");
                const yearError = document.getElementById("yearError");
                const genreError = document.getElementById("genreError");
                const ratingError = document.getElementById("ratingError");
                const picError = document.getElementById("picError");

                const authorError = document.getElementById("authorError");
                const dateError = document.getElementById("dateError");

                if (e.title.value === "") {
                    nameError.innerText = "Title Required*";
                    isValid = false;
                } else {
                    nameError.innerText = ""
                }
                if (e.description.value === "") {
                    descError.innerText = "Description Required*";
                    isValid = false;
                } else {
                    descError.innerText = ""
                }
                if (e.year.value === "") {
                    yearError.innerText = "Year Required*";
                    isValid = false;
                } else {
                    yearError.innerText = ""
                }
                if (e.genre.value === "" || e.genre.value === "--Select Genre--") {
                    genreError.innerText = "Required*";
                    isValid = false;
                } else {
                    genreError.innerText = ""
                }
                if (e.rating.value === "" || e.rating.value === "--Rating--") {
                    ratingError.innerText = "Required*";
                    isValid = false;
                } else {
                    ratingError.innerText = ""
                }
                if (!e.file.value) {
                    picError.innerText = "Please select a movie poster*";
                    isValid = false;
                } else {
                    picError.innerText = "";
                }

                return isValid
            }
        </script>