<%- include('../Partials/Header') %>
    <div class="px-3 mb-3">

        <img src="https://s3-alpha.figma.com/hub/file/3271720301/85f5595b-9b58-45c2-a189-8354dfc6a3fe-cover.png"
        alt="" class="img-fluid col-12">
    </div>

    <%- include('../Partials/Footer') %>